dist/index.html
<!DOCTYPE html>
<html class="no-js s-page" lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">
  <meta name="google" value="notranslate">
  <meta name="msapplication-TileColor" content="#5bbad5">
  <meta name="theme-color" content="#000">
  <meta name="msapplication-navbutton-color" content="#000">
  <meta name="apple-mobile-web-app-status-bar-style" content="#000">
  <title>Main</title>
  <meta name="description" content="">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@1.6.11/dist/css/lightgallery.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/cferdinandi/houdini@11.0.2/dist/css/houdini.min.css">
  <link rel="stylesheet" href="css/style.min.css">
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>
</head>

<body><noscript>JavaScript is disabled</noscript><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display:none">
    <symbol id="instagram" viewBox="0 0 48 48">
      <g fill="none">
        <path fill="#fb5d55" d="M0 24C0 10.745 10.745 0 24 0s24 10.745 24 24-10.745 24-24 24S0 37.255 0 24z" />
        <path fill="#fff" d="M24.001 11.2c-3.476 0-3.912.015-5.278.077-1.362.063-2.293.278-3.106.595a6.268 6.268 0 00-2.268 1.476 6.284 6.284 0 00-1.477 2.267c-.318.814-.534 1.745-.595 3.107-.061 1.365-.077 1.802-.077 5.278 0 3.476.015 3.911.077 5.277.063 1.362.279 2.293.595 3.106a6.272 6.272 0 001.476 2.268 6.268 6.268 0 002.267 1.477c.814.317 1.745.533 3.107.595 1.366.062 1.802.077 5.278.077 3.476 0 3.911-.015 5.276-.077 1.363-.062 2.294-.278 3.109-.595a6.263 6.263 0 002.266-1.477 6.284 6.284 0 001.477-2.267c.315-.814.53-1.745.595-3.107.061-1.365.077-1.8.077-5.277 0-3.476-.016-3.912-.077-5.278-.064-1.362-.28-2.293-.595-3.106a6.282 6.282 0 00-1.477-2.268 6.256 6.256 0 00-2.267-1.476c-.816-.317-1.747-.532-3.11-.595-1.365-.062-1.8-.077-5.277-.077h.004zm-1.148 2.307H24c3.418 0 3.823.012 5.173.073 1.248.057 1.925.266 2.376.441.597.232 1.023.51 1.471.957.448.448.725.875.958 1.472.175.451.384 1.128.44 2.376.062 1.35.075 1.755.075 5.171 0 3.416-.013 3.822-.074 5.17-.057 1.249-.266 1.926-.441 2.377a3.958 3.958 0 01-.958 1.47 3.958 3.958 0 01-1.47.958c-.452.176-1.13.384-2.377.44-1.35.062-1.755.075-5.173.075s-3.823-.013-5.172-.074c-1.248-.058-1.925-.266-2.377-.442a3.965 3.965 0 01-1.472-.957 3.967 3.967 0 01-.958-1.471c-.175-.45-.384-1.128-.44-2.376-.062-1.35-.074-1.755-.074-5.173s.012-3.821.073-5.17c.057-1.249.266-1.926.441-2.377.232-.598.51-1.024.958-1.472a3.972 3.972 0 011.472-.958c.451-.176 1.129-.384 2.377-.442 1.18-.053 1.638-.069 4.024-.072v.004zm7.98 2.125a1.536 1.536 0 100 3.073 1.536 1.536 0 000-3.073zm-6.832 1.795a6.574 6.574 0 10.001 13.147 6.574 6.574 0 00-.001-13.147zm0 2.306a4.267 4.267 0 110 8.534 4.267 4.267 0 010-8.534z" />
      </g>
    </symbol>
    <symbol id="vk" viewBox="0 0 48 48">
      <g fill="none">
        <path fill="#4c6c91" d="M0 24C0 10.745 10.745 0 24 0s24 10.745 24 24-10.745 24-24 24S0 37.255 0 24z" />
        <path fill="#fff" d="M25.255 31.876s.462-.05.7-.3c.216-.228.208-.66.208-.66s-.029-2.014.924-2.312c.94-.292 2.145 1.948 3.425 2.81.966.651 1.7.509 1.7.509l3.42-.047s1.788-.108.94-1.488c-.07-.113-.495-1.022-2.542-2.887-2.145-1.953-1.857-1.637.725-5.016 1.573-2.058 2.201-3.314 2.005-3.85-.187-.514-1.344-.378-1.344-.378l-3.849.023s-.285-.038-.497.086c-.206.122-.34.406-.34.406s-.609 1.592-1.421 2.946c-1.715 2.856-2.4 3.007-2.68 2.83-.652-.414-.49-1.661-.49-2.547 0-2.77.429-3.924-.832-4.222-.418-.1-.726-.165-1.797-.176-1.374-.013-2.535.005-3.194.32-.438.211-.776.68-.57.708.254.033.83.152 1.136.56.394.527.38 1.71.38 1.71s.227 3.26-.53 3.663c-.517.278-1.229-.288-2.757-2.88-.783-1.328-1.374-2.795-1.374-2.795s-.114-.274-.318-.422c-.247-.178-.591-.233-.591-.233l-3.657.023s-.55.015-.752.25c-.179.207-.013.639-.013.639s2.863 6.576 6.106 9.891c2.974 3.038 6.35 2.84 6.35 2.84h1.53z" />
      </g>
    </symbol>
    <symbol id="youtube" viewBox="0 0 48 48">
      <g fill="none">
        <path fill="red" d="M0 24C0 10.745 10.745 0 24 0s24 10.745 24 24-10.745 24-24 24S0 37.255 0 24z" />
        <path fill="#fff" d="M36.265 18.073c-.294-1.13-1.162-2.021-2.263-2.324C32.005 15.2 24 15.2 24 15.2s-8.005 0-10.002.55c-1.101.302-1.969 1.192-2.263 2.323-.535 2.05-.535 6.327-.535 6.327s0 4.277.535 6.327c.294 1.13 1.162 2.021 2.263 2.324C15.995 33.6 24 33.6 24 33.6s8.005 0 10.002-.55c1.101-.302 1.969-1.192 2.263-2.323.535-2.05.535-6.327.535-6.327s0-4.277-.535-6.327" />
        <path fill="red" d="M21.6 28.8v-8l6.4 4z" />
      </g>
    </symbol>
  </svg>
  <div class="s-page__inner">
    <div class="s-page__content">
      <header class="s-page-header" role="banner">
        <div class="s-page-header__top">
          <div class="s-page-header__container"><a class="s-page-header__phone" href="tel:+78122440384">+7 (812) 244-03-84</a><a class="s-page-header__phone" href="tel:+78129063028">+7 (812) 906-30-28</a><a class="s-page-header__mail" href="mailto:sales@pnevmatikcity.ru">sales@pnevmatikcity.ru</a></div>
        </div>
        <div class="s-page-header__bottom">
          <div class="s-page-header__container">
            <div class="s-page-header__logos"><a class="s-logo" href="/"><img src="img/logo-husqvarna.svg" alt="Husqvarna Logo" width="137" height="25" /></a><a class="s-logo" href="/"><img src="img/logo-pnervmatikcity.svg" alt="Pnevmatikcity Logo" width="198" height="25" /></a></div>
            <div class="s-page-header__nav">
              <ul class="s-page-header__nav-list">
                <li><a href="/">Продукция</a></li>
                <li><a href="/">Преимущества</a></li>
                <li><a href="/">О нас</a></li>
                <li><a href="/">Гарантия и сервис</a></li>
                <li><a href="/">Контакты</a></li>
              </ul>
            </div>
          </div>
          <div class="s-page-header__contact"><button class="s-btn">Отправить заявку</button></div><button class="s-hamburger" aria-label="Show main navigation" data-target-id="mobile-menu" data-target-class-toggle="s-mobile-menu--is-shown"><span></span></button>
        </div>
      </header>
      <div class="s-mobile-menu">
        <div class="s-mobile-menu__header"><a class="s-logo" href="/"><img src="img/pnevmatik.svg" alt="Pnevmatikcity Logo" width="200" height="46" /></a>
          <div class="s-mobile-menu__close"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 8 16" width="8" height="16">
              <path fill-rule="nonzero" d="M.1356376 15.8656706c.0800497.0853198.1888265.1336171.3024979.1343294.1140169.0011092.2234366-.0474735.3024979-.1343294l7.1329004-7.540555C7.9544511 8.240692 8 8.1255158 8 8.0053295c0-.1201863-.0455489-.2353625-.1264662-.319786L.7406334.14338947C.6338404.02270211.4733041-.0268399.3218642.01415595.1704244.05515179.0521702.18016433.0133907.34025921-.0253889.50035409.0214748.6700652.1356376.78296157L6.9660401 8.0053295l-6.8304025 7.220769c-.0805412.0846361-.1258294.1997327-.1258294.3197861 0 .1200533.0452882.2351499.1258294.319786z"></path>
            </svg></div>
        </div>
        <ul class="s-mobile-menu__list">
          <li><a href="/">Продукция</a></li>
          <li><a href="/">Преимущества</a></li>
          <li><a href="/">О нас</a></li>
          <li><a href="/">Гарантия и сервис</a></li>
          <li><a href="/">Контакты</a></li>
        </ul>
        <div class="s-mobile-menu__contact"><button class="s-btn  s-btn--feedback"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 66" width="25" height="21">
              <path d="M0 0v66h100V0H0zm92.721 4L50 40.373 7.28 4h85.441zM4 6.46l30.044 25.575L4 60.312V6.46zM8.043 62l29.066-27.355L50 45.617l12.891-10.973L91.957 62H8.043zM96 60.312L65.956 32.035 96 6.46v53.852z"></path>
            </svg>Отправить заявку</button>
          <ul class="s-mobile-menu__list">
            <li><a href="tel:+78122440384">+7 (812) 244-03-84</a></li>
            <li><a href="tel:+78129063028">+7 (812) 906-30-28</a></li>
            <li><a href="mailto:sales@pnevmatikcity.ru">sales@pnevmatikcity.ru</a></li>
          </ul>
        </div>
      </div>
      <section class="s-promo">
        <div class="swiper-container s-slider s-promo__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="s-promo__slide">
                <div class="s-promo__slide-info">
                  <div class="container">
                    <h1 class="s-promo__title">Уплотнительное оборудование</h1>
                  </div>
                </div>
                <div class="s-promo__slide-cover"><img src="img/promo-first-bg.jpg" alt=""></div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="s-promo__slide">
                <div class="s-promo__slide-info">
                  <div class="container">
                    <h1 class="s-promo__title">Уплотнительное оборудование</h1>
                  </div>
                </div>
                <div class="s-promo__slide-cover"><img src="img/promo-second-bg.jpg" alt=""></div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="s-promo__slide">
                <div class="s-promo__slide-info">
                  <div class="container">
                    <h1 class="s-promo__title">Уплотнительное оборудование</h1>
                  </div>
                </div>
                <div class="s-promo__slide-cover"><img src="img/promo-third-bg.jpg" alt=""></div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </section>
      <section class="s-services">
        <div class="container">
          <h2 class="s-services__title">Оборудование и услуги</h2>
          <div class="row">
            <div class="col-12 col-md-4"><a class="s-direction" href="/">
                <h3 class="s-direction__title">Навесное оборудование для экскаваторов</h3>
                <div class="s-direction__cover"><img class="lazyload" alt="/" data-sizes="auto" data-src="img/construction-768.jpg" data-srcset="img/construction-320.jpg 320w, img/construction-768.jpg 768w, img/construction-1440.jpg 1440w"></div>
                <div class="s-direction__caption"><span>подробнее</span><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 8 16" width="8" height="16">
                    <path fill-rule="nonzero" d="M.1356376 15.8656706c.0800497.0853198.1888265.1336171.3024979.1343294.1140169.0011092.2234366-.0474735.3024979-.1343294l7.1329004-7.540555C7.9544511 8.240692 8 8.1255158 8 8.0053295c0-.1201863-.0455489-.2353625-.1264662-.319786L.7406334.14338947C.6338404.02270211.4733041-.0268399.3218642.01415595.1704244.05515179.0521702.18016433.0133907.34025921-.0253889.50035409.0214748.6700652.1356376.78296157L6.9660401 8.0053295l-6.8304025 7.220769c-.0805412.0846361-.1258294.1997327-.1258294.3197861 0 .1200533.0452882.2351499.1258294.319786z"></path>
                  </svg></div>
              </a></div>
            <div class="col-12 col-md-4"><a class="s-direction" href="/">
                <h3 class="s-direction__title">Запасные части</h3>
                <div class="s-direction__cover"><img class="lazyload" alt="/" data-sizes="auto" data-src="img/parts-768.jpg" data-srcset="img/parts-320.jpg 320w, img/parts-768.jpg 768w, img/parts-1440.jpg 1440w"></div>
                <div class="s-direction__caption"><span>подробнее</span><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 8 16" width="8" height="16">
                    <path fill-rule="nonzero" d="M.1356376 15.8656706c.0800497.0853198.1888265.1336171.3024979.1343294.1140169.0011092.2234366-.0474735.3024979-.1343294l7.1329004-7.540555C7.9544511 8.240692 8 8.1255158 8 8.0053295c0-.1201863-.0455489-.2353625-.1264662-.319786L.7406334.14338947C.6338404.02270211.4733041-.0268399.3218642.01415595.1704244.05515179.0521702.18016433.0133907.34025921-.0253889.50035409.0214748.6700652.1356376.78296157L6.9660401 8.0053295l-6.8304025 7.220769c-.0805412.0846361-.1258294.1997327-.1258294.3197861 0 .1200533.0452882.2351499.1258294.319786z"></path>
                  </svg></div>
              </a></div>
            <div class="col-12 col-md-4"><a class="s-direction" href="/">
                <h3 class="s-direction__title">Сервис и услуги</h3>
                <div class="s-direction__cover"><img class="lazyload" alt="/" data-sizes="auto" data-src="img/service-768.jpg" data-srcset="img/service-320.jpg 320w, img/service-768.jpg 768w, img/service-1440.jpg 1440w"></div>
                <div class="s-direction__caption"><span>подробнее</span><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 8 16" width="8" height="16">
                    <path fill-rule="nonzero" d="M.1356376 15.8656706c.0800497.0853198.1888265.1336171.3024979.1343294.1140169.0011092.2234366-.0474735.3024979-.1343294l7.1329004-7.540555C7.9544511 8.240692 8 8.1255158 8 8.0053295c0-.1201863-.0455489-.2353625-.1264662-.319786L.7406334.14338947C.6338404.02270211.4733041-.0268399.3218642.01415595.1704244.05515179.0521702.18016433.0133907.34025921-.0253889.50035409.0214748.6700652.1356376.78296157L6.9660401 8.0053295l-6.8304025 7.220769c-.0805412.0846361-.1258294.1997327-.1258294.3197861 0 .1200533.0452882.2351499.1258294.319786z"></path>
                  </svg></div>
              </a></div>
          </div>
        </div>
      </section>
      <section class="s-about-us">
        <div class="container">
          <h2 class="s-about-us__title">О компании</h2>
          <div class="row">
            <div class="col-12 col-md-9">
              <div class="s-about-us__text"><img src="img/epiroc.svg" alt="Epiroc Logo" width="200" height="68">
                <p>Компания “Пневматик Сити” является официальным дистрибьютором компании “Эпирок Рус“.</p>
                <p>Мы осуществляем продажу навесного оборудования производства компании “Эпирок”, гарантийный и постгарантийный ремонт, сервисное обслуживание, а так же продажу запасных частей и расходных материалов.</p>
                <p>Так же наша компания специализируется на продаже, гарантийном и постгарантийном сервисном обслуживании, ремонте дизельных генераторов, передвижных компрессоров и осветительных мачт шведского концерна<i> Atlas Copco AB.</i></p>
                <p><i>Atlas Copco AB</i> – шведский производитель компрессоров, генераторов, строительного оборудования и промышленного инструмента.</p>
                <p>Мы располагаем современным сервисным оборудованием, имеем большой опыт работы с техникой<i> Atlas Copco</i> и<i> Epiroc,</i> работаем с данными производителями уже не один год. Именно поэтому мы смело можем сказать, что знаем устройство и принципы работы всех представителей передвижной техники этого бренда.</p>
                <p>Наш многолетний опыт работы с данной техникой позволяет подобрать необходимые запчасти для вашего оборудования. Также всегда в наличии расходные материалы, как оригинальные, так и грамотно подобранные аналоги.</p>
                <p>Мы производим профилактический и капитальный ремонт техники, организуем обслуживание в рамках гарантийного и послегарантийного сервиса, работаем с передвижным оборудованием. Самыми востребованными услугами нашей компании являются:</p>
                <ul>
                  <li>диагностика всех систем оборудования</li>
                  <li>оперативное устранение неисправностей</li>
                  <li>замена деталей и расходных материалов</li>
                  <li>текущее техническое обслуживание</li>
                  <li>проверка работоспособности оборудования при различных нагрузках и в различных условиях</li>
                </ul>
                <p>Если же Вы планируете приобрести навесное оборудование производства компании<i> Epiroc</i> или технику<i> Atlas Copco</i>, можете также смело обращаться к нам. В первую очередь это является гарантией качества оборудования: вся продукция имеет сертификаты качества, отвечает нормам безопасности и характеризуется стабильно высоким качеством.</p>
                <p>Обслуживание оборудования в компании «Пневматик Сити» - это гарантия долговечной и исправной работы техники<i> Epiroc</i> и<i> Atlas Copco</i>.</p>
              </div>
            </div>
            <div class="col-12 col-md-3">
              <div class="s-about-us__certificates">
                <div class="row">
                  <div class="col-6 col-md-12"><a href="img/certificate-pnevmatik.jpg"><img src="img/certificate-pnevmatik.jpg" alt="Certificate Pnevmatik"></a></div>
                  <div class="col-6 col-md-12"><a href="img/certificate-epiroc.jpeg"><img src="img/certificate-epiroc.jpeg" alt="Certificate Epiroc"></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="s-page__footer-wrapper">
      <footer class="s-page-footer" role="contentinfo">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-5">
              <div class="s-page-footer__logo"><a class="s-logo" href="/"><img src="img/pnevmatik-light.svg" alt="Pnevmatikcity Logo" width="300" height="92" /></a><a class="s-logo" href="/"><img src="img/epiroc.svg" alt="Epiroc Logo" width="150" height="51" /></a></div>
            </div>
            <div class="col-12 col-lg-7">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="s-page-footer__nav">
                    <h3 class="s-page-footer__title">Каталог</h3>
                    <ul class="s-page-footer__list">
                      <li><a href="/">Гидравлические молоты</a></li>
                      <li><a href="/">Ножницы по железобетону</a></li>
                      <li><a href="/">Крашеры бетона</a></li>
                      <li><a href="/">Дробильные ковши</a></li>
                      <li><a href="/">Барабанные фрезы</a></li>
                      <li><a href="/">Магниты для экскаваторов</a></li>
                      <li><a href="/">Грейферы для экскаватора</a></li>
                      <li><a href="/">Компакторы гидравлические</a></li>
                      <li><a href="/">Буры навесные</a></li>
                      <li><a href="/">Измельчители гидравлические</a></li>
                      <li><a href="/">Ножницы по металлу</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="s-page-footer__contacts">
                    <h3 class="s-page-footer__title">Контакты</h3>
                    <ul class="s-page-footer__list">
                      <li><a href="tel:+78122440384">+7 (812) 244-03-84</a></li>
                      <li><a href="tel:+78129063028">+7 (812) 906-30-28</a></li>
                      <li><a href="mailto:sales@pnevmatikcity.ru">sales@pnevmatikcity.ru</a></li>
                      <li><address><b>Офис:</b> Санкт-Петербург, проспект 9 января д.3, литер А, корпус 6, офис 7<br/><b>Сервисный центр и склад:</b> Санкт-Петербург, проспект 9 января д.3, корпус 4</address>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="s-page-footer__copyright">© 2019. Pnevmatikcity.</div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.1.0/jquery-migrate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.9/svg4everybody.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.1/lazysizes.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lightgallery@1.6.11/dist/js/lightgallery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lightgallery@1.6.11/modules/lg-thumbnail.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lightgallery@1.6.11/modules/lg-fullscreen.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>

src/index.pug
extends pug/layout.pug

block meta
  - var title = 'Main';
  title= title
  meta(name='description', content='')

block header
  +page-header()
  +mobile-menu()

block content
  section.s-promo
    .swiper-container.s-slider.s-promo__slider
      .swiper-wrapper
        .swiper-slide
          .s-promo__slide
            .s-promo__slide-info
              .container
                h1.s-promo__title Уплотнительное оборудование
            .s-promo__slide-cover
              img(src='img/promo-first-bg.jpg', alt='')
        .swiper-slide
          .s-promo__slide
            .s-promo__slide-info
              .container
                h1.s-promo__title Уплотнительное оборудование
            .s-promo__slide-cover
              img(src='img/promo-second-bg.jpg', alt='')
        .swiper-slide
          .s-promo__slide
            .s-promo__slide-info
              .container
                h1.s-promo__title Уплотнительное оборудование
            .s-promo__slide-cover
              img(src='img/promo-third-bg.jpg', alt='')
      .swiper-pagination

  section.s-services
    .container
      h2.s-services__title Оборудование и услуги
      .row
        .col-12.col-md-4
          a(href='/').s-direction
            h3.s-direction__title Навесное оборудование для экскаваторов
            .s-direction__cover
              img(
                alt='/',
                data-sizes='auto',
                data-src='img/construction-768.jpg',
                data-srcset='img/construction-320.jpg 320w, img/construction-768.jpg 768w, img/construction-1440.jpg 1440w'
              ).lazyload
            .s-direction__caption
              span подробнее
              svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 8 16', width='8', height='16')
                path(fill-rule='nonzero', d='M.1356376 15.8656706c.0800497.0853198.1888265.1336171.3024979.1343294.1140169.0011092.2234366-.0474735.3024979-.1343294l7.1329004-7.540555C7.9544511 8.240692 8 8.1255158 8 8.0053295c0-.1201863-.0455489-.2353625-.1264662-.319786L.7406334.14338947C.6338404.02270211.4733041-.0268399.3218642.01415595.1704244.05515179.0521702.18016433.0133907.34025921-.0253889.50035409.0214748.6700652.1356376.78296157L6.9660401 8.0053295l-6.8304025 7.220769c-.0805412.0846361-.1258294.1997327-.1258294.3197861 0 .1200533.0452882.2351499.1258294.319786z')

        .col-12.col-md-4
          a(href='/').s-direction
            h3.s-direction__title Запасные части
            .s-direction__cover
              img(
                alt='/',
                data-sizes='auto',
                data-src='img/parts-768.jpg',
                data-srcset='img/parts-320.jpg 320w, img/parts-768.jpg 768w, img/parts-1440.jpg 1440w'
              ).lazyload
            .s-direction__caption
              span подробнее
              svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 8 16', width='8', height='16')
                path(fill-rule='nonzero', d='M.1356376 15.8656706c.0800497.0853198.1888265.1336171.3024979.1343294.1140169.0011092.2234366-.0474735.3024979-.1343294l7.1329004-7.540555C7.9544511 8.240692 8 8.1255158 8 8.0053295c0-.1201863-.0455489-.2353625-.1264662-.319786L.7406334.14338947C.6338404.02270211.4733041-.0268399.3218642.01415595.1704244.05515179.0521702.18016433.0133907.34025921-.0253889.50035409.0214748.6700652.1356376.78296157L6.9660401 8.0053295l-6.8304025 7.220769c-.0805412.0846361-.1258294.1997327-.1258294.3197861 0 .1200533.0452882.2351499.1258294.319786z')
        .col-12.col-md-4
          a(href='/').s-direction
            h3.s-direction__title Сервис и услуги
            .s-direction__cover
              img(
                alt='/',
                data-sizes='auto',
                data-src='img/service-768.jpg',
                data-srcset='img/service-320.jpg 320w, img/service-768.jpg 768w, img/service-1440.jpg 1440w'
              ).lazyload
            .s-direction__caption
              span подробнее
              svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 8 16', width='8', height='16')
                path(fill-rule='nonzero', d='M.1356376 15.8656706c.0800497.0853198.1888265.1336171.3024979.1343294.1140169.0011092.2234366-.0474735.3024979-.1343294l7.1329004-7.540555C7.9544511 8.240692 8 8.1255158 8 8.0053295c0-.1201863-.0455489-.2353625-.1264662-.319786L.7406334.14338947C.6338404.02270211.4733041-.0268399.3218642.01415595.1704244.05515179.0521702.18016433.0133907.34025921-.0253889.50035409.0214748.6700652.1356376.78296157L6.9660401 8.0053295l-6.8304025 7.220769c-.0805412.0846361-.1258294.1997327-.1258294.3197861 0 .1200533.0452882.2351499.1258294.319786z')


  section.s-about-us
    .container
      h2.s-about-us__title О компании
      .row
        .col-12.col-md-9
          .s-about-us__text
            img(src='img/epiroc.svg', alt='Epiroc Logo', width='200', height='68')
            p Компания “Пневматик Сити” является официальным дистрибьютором компании “Эпирок Рус“.
            p Мы осуществляем продажу навесного оборудования производства компании “Эпирок”, гарантийный и постгарантийный ремонт, сервисное обслуживание, а так же продажу запасных частей и расходных материалов.
            p
              | Так же наша компания специализируется на продаже, гарантийном и постгарантийном сервисном обслуживании, ремонте дизельных генераторов, передвижных компрессоров и осветительных мачт шведского концерна
              i  Atlas Copco AB.
            p
              i Atlas Copco AB
              |  – шведский производитель компрессоров, генераторов, строительного оборудования и промышленного инструмента.
            p
              | Мы располагаем современным сервисным оборудованием, имеем большой опыт работы с техникой
              i  Atlas Copco
              |  и
              i  Epiroc,
              |  работаем с данными производителями уже не один год. Именно поэтому мы смело можем сказать, что знаем устройство и принципы работы всех представителей передвижной техники этого бренда.
            p Наш многолетний опыт работы с данной техникой позволяет подобрать необходимые запчасти для вашего оборудования. Также всегда в наличии расходные материалы, как оригинальные, так и грамотно подобранные аналоги.
            p Мы производим профилактический и капитальный ремонт техники, организуем обслуживание в рамках гарантийного и послегарантийного сервиса, работаем с передвижным оборудованием. Самыми востребованными услугами нашей компании являются:
            ul
              li диагностика всех систем оборудования
              li оперативное устранение неисправностей
              li замена деталей и расходных материалов
              li текущее техническое обслуживание
              li проверка работоспособности оборудования при различных нагрузках и в различных условиях
            p
              | Если же Вы планируете приобрести навесное оборудование производства компании
              i  Epiroc
              |  или технику
              i  Atlas Copco
              | , можете также смело обращаться к нам. В первую очередь это является гарантией качества оборудования: вся продукция имеет сертификаты качества, отвечает нормам безопасности и характеризуется стабильно высоким качеством.
            p
              | Обслуживание оборудования в компании «Пневматик Сити» - это гарантия долговечной и исправной работы техники
              i  Epiroc
              |  и
              i  Atlas Copco
              | .

        .col-12.col-md-3
          .s-about-us__certificates
            .row
              .col-6.col-md-12
                a(href='img/certificate-pnevmatik.jpg')
                  img(src='img/certificate-pnevmatik.jpg', alt='Certificate Pnevmatik')
              .col-6.col-md-12
                a(href='img/certificate-epiroc.jpeg')
                  img(src='img/certificate-epiroc.jpeg', alt='Certificate Epiroc')

block footer
  +page-footer()
